*{
   font-family: "Roboto", monospace;
  
     text-align: center;

}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.cart1{
  color: black;
}
.nav {

          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          background-color: #230303;
          background-color: rgba(0,0,0,0.5);
          font-family: "Roboto", monospace;
          font-size: 15px;
          

}
.nav-bg{
  background-color: white;

}
.login-image {
   border-radius: 25px;

}
#submitBtn {
  background-color: grey;
}
.line {
   border:none;
          border-top:3px solid #59e2c5;
          width: 100%;
          text-align: center;
}
.text1 {
 color: black;
 font-size: .8rem;
}
 
.banner-bg {
   background-image: url("https://w0.peakpx.com/wallpaper/174/730/HD-wallpaper-vespa-sprint-graphy-widescreen.jpg");
  background-size: 100%;
    background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 510px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
 
}

.product-title {
   font-weight: bold;
}
header {
  padding: 1rem 0;
}

.main-content {
  margin-top: 2rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
}

.product-detail {
  padding: 0 2rem;
  font-size: 1rem;

}

.product-price {
  font-weight: bold;
  font-size: 140%;
}
.myProduct {
   font-weight: bold;
}
.nav-name {
   font-weight: bold;
    font-weight: 900;
     color: red;
}

.bg-specific {
 
  background-size: 100%;

  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;

}

.bg-banner {
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}